@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700&family=Manrope:wght@700&family=Plus+Jakarta+Sans:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply flex items-center gap-3 font-inter text-sm text-gray-400 font-medium py-[0.62rem] px-4 mb-[1.06rem] rounded-[0.3125rem] 
      relative transition-all duration-300 ease-in-out stroke-[#98A2B3];
  }

  .nav__link:hover,
  .nav__link-active {
    @apply bg-[#EAECF0] stroke-[#009DE0] text-[#009DE0];
  }

  .nav__link:hover::before,
  .nav__link-active::before {
    content: '';
    position: absolute;
    right: -1rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #009de0;
    border-radius: 999px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* ----------------------------------------------
      CUSTOM WATERMARK FOR CTA IN NAV SECTION
   ----------------------------------------------  */

.circle-watermark::after,
.circle-watermark::before {
  width: 10rem;
  height: 10rem;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
}

.circle-watermark::before {
  content: '';
  position: absolute;
  top: -68px;
  left: -108px;
}

.circle-watermark::after {
  content: '';
  position: absolute;
  bottom: -105px;
  right: -100px;
}

/* Custom Styling for Statistics grid section */

.rect {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.25rem;
  height: 1.875rem;
  background: #009de0;
  border-radius: 1.25rem;
  transform: translateY(-50%);
}

/* Custom Styling for placeholder in Calenders input section */

.after-inp::after {
  content: attr('After /');
  position: absolute;
  top: 50%;
  left: 1.865rem;
  z-index: 50;
  font-size: 1rem;
  color: black;
  transform: translateY(-50%);
}
